<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Create!')"></head>
<link rel="stylesheet" th:href="@{/css/posts-form.css}" />
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <main>
        <h1>CREATE A POST!</h1>
        <div class="form-container">
            <form th:method="post" th:action="@{/posts/create}" th:object="${post}">
                <div class="row">
                    <div class="col-15">
                        <label for="title">Title</label>
                    </div>
                    <div class="col-85">
                        <input type="text" id="title" th:field="*{title}" placeholder="Your title.." required="required" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-15">
                        <label for="body">Body</label>
                    </div>
                    <div class="col-85">
                        <textarea id="body" th:field="*{body}" placeholder="Write body.." style="height:200px"></textarea>
                    </div>
                </div>
                <div class="row submit-button">
                    <input type="submit" value="Submit" />
                </div>
            </form>
        </div>
    </main>

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>
</body>
</html>