<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Home!')"></head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <main>
        <h1>WELCOME TO THE POSTS SHOW!</h1>
        <h2>Title: <span th:text="${post.title}"></span></h2>
        <p>Body: <span th:text="${post.body}"></span></p>
        <p>Id: <span th:text="${post.id}"></span></p>
        <a th:href="@{/posts/edit/{id}(id=${post.id})}"><button>Edit</button></a>
        <a th:href="@{/posts/delete/{id}(id=${post.id})}"><button>Delete</button></a>
    </main>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>