* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    /*padding-bottom: 50px;*/
    padding: 0;
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: #080808;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 16px;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}
.nav-logo {
    padding-left: 15px;
}
.nav-link-toggle {
    display: none;
}
.nav-items {
    display: flex;
    margin-left: auto;
}
.nav-link {
    padding-right: 15px;
}
.nav-logo a, .nav-items a {
    color: #FFF;
    text-decoration: none;
}
.nav-logo a.active, .nav-items a.active {
    color: #f00;
}
.navbar.scrolled {
    background-color: #fff;
    box-shadow: 0 2px 6px -4px #080808;
    transition: background-color 200ms linear;
    color: #080808;
}
.nav-logo a.scrolld, .nav-items a.scrolld {
    color: #080808;
}
.nav-logo a.active.scroll, .nav-items a.active.scroll {
    color: #f00;
}
main {
    margin: 100px auto 50px auto;
    padding-bottom: 50px;
    width: 80%;
}
.footer {
    background-color: #080808;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .nav-items,
    .navbar{
        flex-direction: column;
    }
    .nav-items {
        display: none;
        margin-left: 0;
        padding-left: 15px;
    }
    .nav-logo a:hover, .nav-items a:hover {
        border-left: 3px solid #ff0000;
        padding-left: 5px;
    }
    .nav-toggle-show {
        display: flex;
    }
    .nav-link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        padding-right: 15px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 768px) {
    .nav-logo a:hover, .nav-items a:hover {
        border-bottom: 3px solid #ff0000;
        padding-bottom: 13px;
    }
}