* {
    box-sizing: border-box;
    /*border: 1px solid red;*/
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding-bottom: 50px;
    font-family: 'Comfortaa', cursive;
}
.navbar {
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 16px;
    width: 100%;
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
}
.nav-logo {
    padding-left: 15px;
}
.nav-items {
    display: flex;
    margin-left: auto;
}
.nav-link {
    padding-right: 15px;
}
.nav-link-toggle {
    display: none;
}
.nav-items a {
    color: #FFF;
    text-decoration: none;
}
.nav-items a.active {
    color: #e2472f;
}
.navbar.scrolled {
    background-color: #ddd;
    box-shadow: 0 2px 6px -4px black;
    transition: background-color 200ms linear;
    color: #000;
}
.nav-items a.scrolld {
    color: #000;
}
.nav-items a.active.scroll {
    color: #e2472f;
}
main {
    margin: 100px auto 50px auto;
    width: 1024px;
}
.footer {
    background-color: #222;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}