<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Home!')"></head>
<link rel="stylesheet" th:href="@{/css/home.css}" />
<style>
    .bold {
        font-weight: bold;
        font-style: normal;
    }
    .italic {
        font-style: italic;
        font-weight: normal;
    }
    .no-style {
        font-style: normal;
        font-weight: normal;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
</style>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <section class="sec1">
        <div class="intro">
            <h1><span>Ron Soeum</span></h1>
            <h2>Software Developer</h2>
            <div class="flex">
                <button type="button"><a href="#resume">Resume <i class="fas fa-user ml-1"></i></a></button>
                <button type="button"><a href="#">Portfolio <i class="fas fa-laptop-code"></i></a></button>
            </div>
        </div>
    </section>

    <a class="anchor" id="resume"></a>

    <section class="grid-container">
        <div class="item-1">
            <h3>INFO</h3>
            <hr />
            <p><i class="fas fa-map-marker-alt"></i> San Antonio, TX
                <br /><i class="fas fa-phone-square"></i> <a href="tel:210-412-4670">(210) 412-4670</a>
                <br /><i class="fas fa-envelope-square"></i> <a href="mailto:RonSoeum@gmail.com">RonSoeum@gmail.com</a>
                <br /><i class="fab fa-linkedin"></i> <a href="https://linkedin.com/in/ron-soeum" target="_blank" rel="noopener noreferrer">linkedin.com/in/ron-soeum</a>
                <br /><i class="fab fa-git-square"></i> <a href="https://github.com/RonSoeum" target="_blank" rel="noopener noreferrer">github.com/RonSoeum</a></p>
        </div>
        <div class="item-2">
            <h3>ABOUT ME</h3>
            <hr />
            <p>One of the most satisfying aspects of programming is creating something out of nothing that is useful to people, especially if it improves their lives in some way. I love the challenge of problem-solving, there is a sense of fulfillment after finding a creative solution. The ever-evolving nature of web development keeps me engaged with new technologies, and there is no limit to what I can learn to improve my craft.</p>
        </div>
        <div class="item-3">
            <h3>EDUCATION</h3>
            <hr />
            <p class="bold">Certificate in
                <br />Computer Software Engineering
                <br />&#8211;&#8211; Java Full Stack
                <br /><span class="italic">Codeup</span>
                <br /><span class="no-style">2018 &#8211; 2019</span></p>
            <p class="bold">Associate in Health Sciences
                <br /><span class="italic">Kaplan University (now Purdue University)</span>
                <br /><span class="no-style">2014 &#8211; 2016</span></p>
        </div>
        <div class="item-4">
            <h3>DEVELOPMENT PROJECTS</h3>
            <hr />
            <p><span class="float-left"><a href="" target="_blank" rel="noopener noreferrer">Classified Adlister</a></span><span class="float-right">Feb 2019</span>
                <br />A full-stack web application that allow users to post classified advertisements that are grouped into categories similar to craigslist.</p>
            <p><span class="float-left"><a href="https://chase-and-ron-movies-application.glitch.me/" target="_blank" rel="noopener noreferrer">Chase &#38; Ron's Movies</a></span><span class="float-right">Jan 2019</span>
                <br />A single page web application utilizing AJAX request that allow users to add, edit, and delete movies, as well as rate them.</p>
            <p><span class="float-left"><a href="https://weather-atmosphere.glitch.me" target="_blank" rel="noopener noreferrer">Weather &#38; Atmosphere</a></span><span class="float-right">Dec 2018</span>
                <br />A 3-day weather forecast that uses a combination of Open Weather Map and Google Maps API.</p>
        </div>
        <div class="item-5">
            <h3>SKILLS</h3>
            <hr />
            <p>HTML &#8211;&#8211; CSS &#8211;&#8211; Bootstrap &#8211;&#8211; JavaScript &#8211;&#8211; jQuery &#8211;&#8211; Java &#8211;&#8211; MySQL &#8211;&#8211; Spring Boot</p>
            <p>Command Line &#8211;&#8211; Git/GitHub &#8211;&#8211; Pair Programming</p>
            <p>EMT-B Certificate (expired)
                <br />BLS Certificate (expired)</p>
            <h3 style="margin-top: 35px;">OTHER</h3>
            <hr />
            <p>Secret Security Clearance (active)</p>
        </div>
        <div class="item-6">
            <h3>EXPERIENCE</h3>
            <hr />
            <p><span class="float-left bold">Refrigeration Technician Intern</span><span class="float-right">Aug 2018 &#8211; Aug 2019</span>
                <br /><span class="italic">HEB, Inc.</span>
                <br />Operated and maintained the ammonia refrigeration systems for several manufacturing plants and warehouses on multiple HEB campuses.</p>
            <p><span class="float-left bold">Combat Medic</span><span class="float-right">Mar 2013 &#8211; Mar 2017</span>
                <br /><span class="italic">US Army</span>
                <br />Primarily responsible for providing emergency medical treatment at point of wounding on the battlefield, limited primary care, and health protection and evacuation from a point of injury or illness.</p>
            <p><span class="float-left bold">Telecommunications Technician</span><span class="float-right">Mar 2006 &#8211; Apr 2012</span>
                <br /><span class="italic">Amtec, LLC</span>
                <br />Installed residential and commercial internet, phone, and cable TV for Comcast customers.</p>
        </div>
    </section><!--Grid Container End-->

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/scripts :: scripts"></div>
    <script type="text/javascript" th:src="@{/scripts/index.nav.js}"></script>
</body>
</html>