<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header('Roll Dice!')"></head>
<body>

    <div th:replace="fragments/navbar :: navbar"></div>

    <section class="sec1">
        <div class="intro">
            <h1>Hello, I'm <span>Ron Soeum</span>.</h1>
            <h1>I'm a full-stack web developer.</h1>
        </div>
    </section>

    <ul>
        <li>
            <a th:href="@{/roll-dice/1}">Guess 1 for dice roll</a>
        </li>
        <li>
            <a th:href="@{/roll-dice/2}">Guess 2 for dice roll</a>
        </li>
        <li>
            <a th:href="@{/roll-dice/3}">Guess 3 for dice roll</a>
        </li>
        <li>
            <a th:href="@{/roll-dice/4}">Guess 4 for dice roll</a>
        </li>
        <li>
            <a th:href="@{/roll-dice/5}">Guess 5 for dice roll</a>
        </li>
        <li>
            <a th:href="@{/roll-dice/6}">Guess 6 for dice roll</a>
        </li>
    </ul>

    <h1>Your Guess: <span th:text="${guess}"></span></h1>
    <h1>Dice Roll: <span th:text="${diceRoll}"></span></h1>
    <h1>Result: <span th:text="${result}"></span></h1>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/global-scripts :: global-scripts"></div>

</body>
</html>